@{
    ViewData["title"] = "Nuevo Presupuesto";
}

@model Presupuestos

<section>
    <form asp-controller="Presupuestos" asp-action="CargarPresupuesto" method="post">
        <section class="form-group">
            <label asp-for="@Model.NombreDestinatario">Nombre: </label>
            <input asp-for="@Model.NombreDestinatario" class="form-control">
        </section>

        <section class="form-group">
            <label asp-for="@Model.FechaCreacion">Fecha: </label>
            <input asp-for="@Model.FechaCreacion" class="form-control" value="@DateTime.Now">
        </section>

        <button type="submit" class="btn btn-primary my-3">Siguiente</button>
    </form>
</section>