@{
    ViewData["title"] = "Nuevo Presupuesto";
}

@model ProductoPresupuestosViewModel

<section>
    <form asp-controller="Presupuestos" asp-action="CargarDetalle" method="post">
        <input hidden asp-for="@Model.idPresupuesto">

        <section class="form-group">
            <label asp-for="@Model.NuevoDetalle.Producto.IdProducto">Seleccione un producto</label>
            <select asp-for="@Model.NuevoDetalle.Producto.IdProducto" class="form-control">
                <option value="">-- Seleccione --</option>
                @foreach (var producto in Model.ListaProductos)
                {
                    <option value="@producto.IdProducto">@producto.Descripcion - $@producto.Precio</option>
                }
            </select>
        </section>

        <section class="form-group">
            <label asp-for="@Model.NuevoDetalle.Cantidad">Cantidad comprado</label>
            <input asp-for="@Model.NuevoDetalle.Cantidad" class="form-control" min="1" value="1">
        </section>

        <button type="submit" class="btn btn-primary my-3">Cargar</button>
    </form>
</section>