@{
    ViewData["title"] = "Nuevo Presupuesto";
}

@model ClientePresupuestosViewModel

@section Scripts{<partial name="_ValidationScriptsPartial"/>}

<section>
    <form asp-controller="Presupuestos" asp-action="CargarPresupuesto" method="post">
        <section class="form-group">
            <label asp-for="@Model.NuevoPresupuesto.Cliente.ClienteId">Seleccione un cliente: </label>
            <select asp-for="@Model.NuevoPresupuesto.Cliente.ClienteId" class="form-control">
                <option value="">-- Seleccione --</option>
                @foreach (var cliente in Model.ListaClientes)
                {
                    <option value="@cliente.ClienteId">@cliente.Nombre</option>
                }
            </select>
        </section>

        <section class="form-group">
            <label asp-for="@Model.NuevoPresupuesto.FechaCreacion">Fecha: </label>
            <input type="date" asp-for="@Model.NuevoPresupuesto.FechaCreacion" class="form-control" value="@DateTime.Now">
        </section>

        <button type="submit" class="btn btn-primary my-3">Siguiente</button>
    </form>
</section>